@using MonEcole.DAL.DataModels
@inject NavigationManager navManager

<div class="d-flex flex-column">
    <div class="d-flex flex-row">
        <div>Prénom :</div>
        <div>@MonEleve.Prenom</div>
    </div>
    <div class="d-flex flex-row">
        <div>Nom :</div>
        <div>@MonEleve.Nom</div>
    </div>
    <div class="d-flex flex-row">
        <div>Age :</div>
        <div>@MonEleve.Age</div>
    </div>
    <div class="d-flex flex-row">
        <div>Date de naissance :</div>
        <div>@MonEleve.DateNaissance.ToShortDateString()</div>
    </div>
    <div class="d-flex flex-row">
        <div>Moyenne :</div>
        <div>@MonEleve.Moyenne</div>
    </div>
    @*<button @onclick="EditerEleve">Editer</button>*@
    <button @onclick="EditerEleve2">Editer</button>

    <EditComponent IsEdit="@isedit" Eleve="@(MonEleve with { })"></EditComponent>
</div>


@code {
    [Parameter]
    public EleveViewModel MonEleve { get; set; }

    public void EditerEleve()
    {
        navManager.NavigateTo($"/editerEleve/{MonEleve.Id}");
    }

    private bool isedit = false;

    public void EditerEleve2()
    {
        isedit = !isedit;
    }

}
